html{
    width: 100%;
}
body{
    text-align: center;
}

header{
    display: flex;
    width: 100%;
    top: 0;
    position: fixed;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    align-items: center;
}
header ul li{
    display: inline;
}
header ul li a{
    color: black;
    margin: 2rem;
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid black;
    padding: 0.625rem;
}

main{
    display: grid;
    max-width: 100%;
    max-height: 150rem;
    grid-template: 2fr 1fr 1fr 1fr/ repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 13rem;
}

.home{
    grid-area: 1/1/2/5;
    background-image: url(home-background.jpg);
    background-repeat: round;
    display: flex;
    align-items: center;
}
.text{
    background-color: aliceblue;
}

.equipment{
    grid-area: 2/1/3/5;
    display: contents;
}
.type{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border: 1px solid black;
    color: white;
}
.type h4{
    color: black;
    font-size: 1.2rem;
}

.locations{
    grid-area: 3/1/4/5;
    display: contents;
}
.place{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border: 1px solid black;
}
.text2{
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.contact{
    grid-area: 4/1/5/5;
    width: 100%;
    display: flex;
    height: 100%;
    font-size: 3rem;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: teal;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
@media only screen and (min-width: 0px) and (max-width: 890px){
    header{
        display: flex;
        flex-wrap: wrap;
    }
    header img{
        height: 7rem;
        width: 7rem;
    }
    header ul li a{
        color: black;
        margin: 0.5rem;
        font-size: 1.5rem;
        text-decoration: none;
        border: 1px solid black;
        padding: 0.625rem;
    }
    .equipment{
    grid-area: 2/1/3/5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    }
    .type img{
        display: none;
    }


    .locations{
    grid-area: 3/1/4/5;
    }
    .place{
        border: 1px solid black;
    }
    .place img{
        display: none;
    }

    footer{
        position: absolute;
        width: 36rem;
    }
}